.searchBar {
  z-index: 2;
  position: relative;
  height: 38px;
  /* border: 2px solid red; */
  margin-left: 10px;
  width: 220px;
  display: flex;
  border-radius: 0 25px 25px 0;
  border: none;
  font-size: 18px;
  padding-left: 10px;
}

.icon {
  width: 30px;
  /* border: 2px solid blue; */
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.45); */
}

.searchBarWrapper {
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.45);
  padding: 0 0 0 10px;
  border-radius: 25px;
}
