.botSection {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 50px;
  height: 160px;
  background: rgba(255, 255, 255, 0.45);
  padding: 20px 0;
  margin: 40px auto;
}

.details {
  width: 85%;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;

  span {
    width: 50px;
    display: flex;
    justify-content: flex-end;
  }
}
